[mysqld]
lower_case_table_names=1
secure_file_priv="/docker-entrypoint-initdb.d/csv"
slow_query_log=1
slow_query_log_file=/var/log/mysql/mysql-slow.log
long_query_time=0

# バイナリログ無効化
disable-log-bin=1
innodb_buffer_pool_size=1G

# ディスクキャッシュをストレージに同期することを無効
innodb_flush_method=O_DIRECT
sync_binlog=1000
innodb_flush_log_at_trx_commit=2
innodb_log_buffer_size = 128M
innodb_log_file_size = 512M
