[mysqld]
lower_case_table_names=1
secure_file_priv="/docker-entrypoint-initdb.d/csv"
slow_query_log=1
slow_query_log_file=/var/lib/mysql/mysql-slow.log
long_query_time=0
# log_queries_not_using_indexes=1
